<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.b4agetui.demo"
	android:versionCode="1"
	android:versionName=""
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="22"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<application
		android:icon="@drawable/icon"
		android:label="B4A gettui">
		
		<!-- 个推SDK配置开始 -->
		<!-- 配置的第三方参数属性 -->
		<meta-data
		      android:name="PUSH_APPID"
		      android:value="IySKoaI9RwAEmoHybYQ0E6" /> <!-- 替换为第三方应用的APPID -->
		<meta-data
		      android:name="PUSH_APPKEY"
		      android:value="KEDSFd3yL77a0cf0Mvjtl7" /> <!-- 替换为第三方应用的APPKEY -->
		<meta-data
		      android:name="PUSH_APPSECRET"
		      android:value="YQBZ3joTr99WNAkaq8mSj3" /> <!-- 替换为第三方应用的APPSECRET -->
		<!-- 配置第三方Receiver -->
		    <receiver
		        android:name="com.zaiten.getui.pushBroadcastReceiver"
		        android:exported="false" >
		        <intent-filter>
		            <action android:name="com.igexin.sdk.action.IySKoaI9RwAEmoHybYQ0E6" />
		        </intent-filter>
		    </receiver>
		<!-- 配置SDK核心服务 -->
		<service
		      android:name="com.igexin.sdk.PushService"
		      android:exported="true"
		      android:label="NotificationCenter"
		      android:process=":pushservice" />
		<service
		      android:name="com.igexin.sdk.PushServiceUser"
		      android:exported="true"
		      android:label="NotificationCenterUser" />
		<receiver android:name="com.igexin.sdk.PushReceiver" >
		      <intent-filter>
		          <action android:name="android.intent.action.BOOT_COMPLETED" />
		          <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		          <action android:name="android.intent.action.USER_PRESENT" />
		          <action android:name="com.igexin.sdk.action.refreshls" />
		          <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
		          <action android:name="android.intent.action.MEDIA_MOUNTED" />
		          <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
		          <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
		      </intent-filter>
		</receiver>
		<receiver
		       android:name="com.igexin.sdk.PushManagerReceiver"
		       android:exported="false" >
		       <intent-filter>
		           <action android:name="com.igexin.sdk.action.pushmanager" />
		       </intent-filter>
		</receiver>
		<activity
		       android:name="com.igexin.sdk.PushActivity"
		       android:excludeFromRecents="true"
		       android:exported="false"
		       android:process=":pushservice"
		       android:taskAffinity="com.igexin.sdk.PushActivityTask"
		       android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<activity
		       android:name="com.igexin.sdk.GActivity"
		       android:excludeFromRecents="true"
		       android:exported="true"
		       android:process=":pushservice"
		       android:taskAffinity="com.igexin.sdk.PushActivityTask"
		       android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<service
		      android:name="com.igexin.download.DownloadService"
		      android:process=":pushservice" />
		<receiver android:name="com.igexin.download.DownloadReceiver" >
		      <intent-filter>
		          <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		      </intent-filter>
		</receiver>
		<provider
		      android:name="com.igexin.download.DownloadProvider"
		      android:authorities="downloads.com.b4agetui.demo"
		      android:exported="true"
		      android:process=":pushservice" /> <!-- 替换为第三方应用的包名 -->
		<activity
		      android:name="com.igexin.getuiext.activity.GetuiExtActivity"
		      android:configChanges="orientation|keyboard|keyboardHidden"
		      android:excludeFromRecents="true"
		      android:exported="false"
		      android:process=":pushservice"
		      android:taskAffinity="android.task.myServicetask"
		      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<receiver
		    android:name="com.igexin.getuiext.service.PayloadReceiver"
		    android:exported="false" >
		    <intent-filter>
		        <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
		        <!-- 替换为第三方应用的APPID -->
		        <action android:name="com.igexin.sdk.action.IySKoaI9RwAEmoHybYQ0E6" />
		    </intent-filter>
		</receiver>
		<service
		    android:name="com.igexin.getuiext.service.GetuiExtService"
		    android:process=":pushservice" />
		<uses-permission android:name="getui.permission.GetuiService.com.b4agetui.demo" />
		<permission
		    android:name="getui.permission.GetuiService.com.b4agetui.demo"
		    android:protectionLevel="normal" >
		</permission>
		<!-- 个推SDK配置结束 -->
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="B4A gettui"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
	</application>
</manifest>