h1 {
	left: 400px;
    position: relative;
    text-align: left;
}
div {
	border:2px solid #aaa;
}
#btnParse {
	position: absolute;
	left: 110px;
	width:200px;
	height:30px;
}
#btnParse2java {
	position: absolute;
	left: 330px;
	width:200px;
	height:30px;
}
#main {
	border: 0px;
	top: 20px;
	position: absolute;
}
#rawTextDiv {
	position: absolute;
	width: 500px;
	height: 300px;
	left: 100px;
	top: 100px;
	overflow-y: scroll;
	
}
#rawTextDiv textarea {
	height: 295px;
	width: 477px;
	left: 2px;
	top: 0px;
	padding: 0px;
	border: 0px;
}
#treeDiv {
	position: absolute;
	width: 500px;
	height: 700px;
	left: 602px;
	top: 100px;
	overflow-y: scroll;
}
 #treeDiv ul, ul ul  { 
	list-style-type: none;
	background: url(vline.png) repeat-y;
	margin: 2px; 
	padding: 0;	
}
#treeDiv ul ul {
	 margin-left: 10px;
}
#treeDiv ul li {
	 margin: 0; padding: 0 12px;
	 line-height: 20px; background: url(node.png) no-repeat; color: #369; font-weight: bold;
}
#treeDiv ul li.last { background: #fff url(lastnode.png) no-repeat; }
#codeDiv {
	position: absolute;
	width: 500px;
	height: 398px;
	left: 100px;
	top: 402px;
	overflow-y: scroll;
}
#codeP {
	font-family: monospace;
	font-size: 13px;
	position: absolute;
	width: 500px;
	height: 398px;
	left: 100px;
	top: 402px;
}