<center>
{#include "/header"#}
<div id="body">
	<p>这是bodytext的内容：{# $bodytext #}</p>
	<p>这是bodyhtml的内容：{# $h_bodyhtml #}</p>
	<p>我是:{# my.username #}</p>
	<p>我来自:{# my.comefrom #}</p>
	<p>{# if logined #}已经登陆了！{# else #}没登陆
	{# endif #}
	</p>
		<p>{# if isadmin #}是管理员{# else #}
		不是管理员
	{# endif #}
	</p>
		<p>{# if onlyif #}这是单条件示范
	{# endif #}
	</p>
	<p>{# if onlyiffalse #}这是单条件不出现示范
	{# endif #}
	</p>
	<p>
	{# if inta=3 #}
	如果传入的参数inta=3这里就会显示
	{# endif #}<br>
	{# if stra="aaa" #}
	如果传入的参数stra="aaa"这里就会显示
	{# endif #}
	{# if strb="bbb" #}
	如果传入的参数strb="bb"这里就会显示
	{# endif #}
	</p>
</div>
{#include "/footer"#}
</center>