<html>
<head>
<title>wp_user 查看/编辑</title>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://ossweb-img.qq.com/images/js/jquery/jquery-1.9.0.min.js"></script>
<script>
Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('YYYY-MM-DD hh:mm:ss');
  }
});
</script>
</head>
<body>
	<div id="appmain">
		<form action="/mgr/user/edit" method="post">
		<input type="hidden" name="Id">
		<table>
		<thead><tr><td>名称</td><td>内容</td></tr></thead>
		<tbody>
			<tr><td>username</td><td><input type="text" name="info.username"></td></tr><tr><td>password</td><td><input type="text" name="info.password"></td></tr><tr><td>salt</td><td><input type="text" name="info.salt"></td></tr><tr><td>nickname</td><td><input type="text" name="info.nickname"></td></tr><tr><td>qq</td><td><input type="text" name="info.qq"></td></tr><tr><td>email</td><td><input type="text" name="info.email"></td></tr><tr><td>phone</td><td><input type="text" name="info.phone"></td></tr><tr><td>address</td><td><input type="text" name="info.address"></td></tr><tr><td><input type="submit" value="提交"></td>
		<td><input type="reset" value="重置"></td></tr>
		</tbody>
		
		</table>
		</form>
	</div>
	<script>
		var appmain=new Vue({el:"#appmain",data:$data$});
		function doDelete(item){
			if(confirm('确定要删除这条记录吗？')){
				$.post('/mgr/user/',"id="+item.id,function(dd){
					alert(dd.data);
					if(dd.code==200){
						location.reload();
					}
				},'json');
			}
		}
		function doEdit(item){
			window.open('/mgr/user/edit?id='+item.id);
		}
	</script>
</body>
</html>