body {background:#f6f6f6;
}
table {
	
    border-collapse: collapse;
}

table,td , th {
    border: 1px solid black;
   
}
table td {
 	text-align: center;
    width:50px;
    height:50px
}
#divcontent {
width:100%; border: 0px solid #666666;text-align:center;;position: relative;vertical-align: middle;
}
#main{
text-align:center;
}
.tdwxjin{
background-color:#ffffff;
color:#4d4d00;
font-size:20px;
}
.tdwxmu{
background-color:#66ff33;
color:#000080;
font-size:20px;
}
.tdwxshui{
background-color:#000033;
color:#66ccff;
font-size:20px;
}
.tdwxhuo{
background-color:#ff3300;
color:white;
font-size:20px;
}
.tdwxtu{
background-color:#cc9900;
font-size:20px;
color:#003300;
}
.update{
width:100%;
font-size:20px;
color:red;
}
tr.border_bottom td {
  border-bottom:2pt solid orange;
}